[database]
name=spacedrehearsal.db

[server]
host=127.0.0.1
port=8888

[dictionary]
oxford_dict_api_base_url=https://od-api.oxforddictionaries.com/api/v2

# One of the main purposes of the dictionary database is to save results of the
# expensive requests to an external dictionary API, e.g word pronunciation.
dict_database=dictionary.db

[text_to_speech]
ibm_api_url=https://stream.watsonplatform.net/text-to-speech/api/v1/synthesize
